@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.caixa{
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.verde{
    border-color:  green !important;
    background-color: rgba(107, 237, 0, 0.368) !important;
}

.vermelho{
    border-color: red !important;
    background-color: rgba(255, 81, 0, 0.416) !important;
}

.azul{
    border-color: rgb(0, 0, 255) !important;
    background-color: rgba(0, 255, 229, 0.379) !important;
}

button{
    width: 150px;
    height: 40px;
    background-color: rgba(15, 15, 96, 0.771);
    color: aliceblue;
    border-radius: 23px;
    cursor: pointer;
    margin: 5px;
}
button:active{
    width: 150px;
    height: 40px;
    background-color: rgba(29, 29, 192, 0.771);
    box-shadow: 5px 0px 5px rgb(7, 171, 152);
    color: aliceblue;
    border-radius: 23px;
    cursor: pointer;
    margin: 5px;
}